html,
body {
	background-color: black;
	background: url(../img/pattern.jpg) repeat 100% 100%;
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

h1, h2, p, div, main {
	padding: 0;
	margin: 0;
}

section {
	padding: 2em 0 3em 0;
}

footer a:link {
	color: white;
}
nav a:link {
	color: white;
	background-color: black;
}

footer a:hover {
	color: black;
	background-color: white;
}
nav a:hover {
	color: black;
	background-color: white;
}

@media screen and (max-width: 580px) {
	h1 {
		font-size: 4em;
		top: calc((100vh - 5.5em) / 2);
	}

	h2 {
		font-size: 2.4em;
		font-weight: 650;
	}
	
	nav a {
		width: 50%;
	}
	
	header {
		height: calc(100vh - 6em);
	}
}

@media screen and (max-width: 736px) and (min-width: 580px) {
	h1 {
		font-size: 3em;
		top: calc((100vh - 4em) / 2);
	}

	h2 {
		font-size: 3em;
		font-weight: bold;
	}
	
	nav a {
		width: 25%;
	}
	
	header {
		height: calc(100vh - 3em);
	}
}

@media screen and (min-width: 736px) {
	h1 {
		font-size: 5em;
		top: calc((100vh - 2.5em) / 2);
	}

	h2 {
		font-size: 4em;
		font-weight: bold;
	}

	nav a {
		width: 25%;
	}
	
	header {
		height: calc(100vh - 3em);

	}
}

header {
	background: url(../img/bg.jpg) repeat 100% 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: local;
	width: 100%;
}

h1 {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	letter-spacing: 0.0125em;
	font-weight: 800;
}

nav {
	top: 0;
	width: 100%;
	background-color: black;
	position: sticky;
	position: -webkit-sticky;
	color: white;
	margin-bottom: 3em;
}

nav a {
	text-align: center;
	text-decoration: none;
	font-size: 1.7em;
	padding: 0.25em 0 0.25em 0;
	min-height: 1.25em;
	font-weight: 400;
	float: left;
	color: white;
}

h2 {
	padding-bottom: 0.5em;
	padding-top: 0.725em;
	letter-spacing: 0.0125em;
	line-height: initial;
}

.text {
	margin: 0 10% 2em 10%;
	text-align: justify;
	font-size: 1.25em;
	letter-spacing: 0.0125em;
	word-spacing: 0.075em;
	line-height: 1.75em;
	font-weight: 500;
}

.black {
	background-color: rgba(0, 0, 0, 0.875);
	color: white;
}

.white {
	background-color: rgba(255, 255, 255, 0.425);
	color: black;
}

.code_box {
	font-family: Source Code Pro, Courier, Consolas, monospace;
	font-size: 1em;
	background-color: #EEEEEE;
	color: #252525;
	margin: 1.5em 10% 3em 1.5em;
	width: 50%;
	min-width: 13.5em;
	border-radius: 1em;
}

.serif {
	font-family: Source Serif Pro, Times, Times New Roman, serif;
	background-color: black;
	color:white;
	padding: 2.5em;
	border-radius: 0.5em 2.75em 0.5em 3.75em;
}

p.code_box {
	text-align: left;
	padding: 1.5em;
}

footer a {
	text-decoration: none;
	color:white;
	padding: 0.5em
}

footer {
	padding: 0.5em 0 0.5em 0;
	font-size: 1.25em;
	letter-spacing: 0.0025em;
	width: 100%;
	background-color: black;
	text-align: center;
	color: white;
}